html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}




#ajax {
    display: none;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-left: -50px;
    margin-top: -100px;
    z-index: 2;
    overflow: auto;
}    

